<header class="header">
  <nav class="nav">
    <div class="header_menu">
      <p class="dropdown-toggle header_menu_tag nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= current_user.nickname %>さん
  </p>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Task", root_path, class: "dropdown-item" %>
    <%= link_to "Output", outputs_path, class: "dropdown-item" %>
    <%= link_to "Question", root_path, class: "dropdown-item" %>
  </div>
      
      <p class="header_menu_title"><%= link_to "Task", root_path, class: "nav-link" %></p>
        <div class="header_menu_inner">
        <% if user_signed_in? %>
      <p class="header_menu_tag">
            <%= link_to new_list_path, class: "nav-link" do %>
              <span class="mr-1">リストを作成</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </p>
          <p class="header_menu_tag"><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></p>
      <% else %>
      <p class="header_menu_tag"><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></p>
      <p class="header_menu_tag"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></p>
      <% end %>
        </div>
    </div>
  </nav>
</header>

  
