<header class="header">
  <nav class="nav">
    <ul class="header_menu">
    <% if user_signed_in? %>
      <li class="nav-link"><%= current_user.nickname %>さん</li>

      <li class="header_menu_title"><%= link_to "ToDo", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <%# リストを作成するリンクは今後開発していくので、今は"#"にしておきます。 %>
      <li>
            <%= link_to new_list_path, class: "nav-link" do %>
              <span class="mr-1">リストを作成</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>

      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
        </ul>
      </li>
    </ul>
  </nav>
</header>