<%= javascript_pack_tag 'output' %>

<%= form_with(model: output, local: true) do |form| %>
  
<div class="field">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, autofocus: true, class: "form-control listName", placeholder: "タイトル" %>
</div>

<div class="field">
    <%= form.label :description, "本文" %>
    <%= form.text_area :description, { id: "editor" } %>
</div>

<div class="actions">
    <%= form.submit "投稿", class: "submitBtn" %>
</div>
<% end %>
