<%= render 'header' %>
<div class="content">
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
<% @outputs.each do |output| %>
  <div class="main-content">
    <div class="upper-content">
      <div class="content-user">
        <%= output.user.nickname %>
      </div>
      <div class="content-date">
        <%= l output.created_at %>
      </div>
    </div>
    <div class="lower-content">
    <%= link_to output_path(output) do %>
      <h5 class="content-title">
        <%= output.title %>
      </h5>
    <% end %>
    </div>
  </div>
  <% end %>
</div>

<br>
