<div class="content-user">
  <%= @output.user.nickname %>
</div>
<div class="content-date">
  <%= l @output.created_at %>
</div>
<div class="content-title">
  <%= @output.title %>
</div>
<hr>
<p>
  <%= markdown(@output.description).html_safe %>
</p>
<div class="contents_btnArea">
        <%= link_to '削除する', output_path(@output), class: "delete_btn btn submitBtn", method: :delete, data: { confirm: "このカードを削除して大丈夫ですか?" } %>

        <%= link_to '編集する', edit_output_path(@output), class: "edit_btn btn submitBtn" %>
      
      </div>
      <div class="contents_btnArea">
      <%=link_to '戻る', outputs_path, class:'btn submitBtn'%>
      </div>